@keyframes changeBackground {
    0% {
        background: url(https://anime.bang-dream.com/mygo/wordpress/wp-content/themes/mygo_v1/assets/images/pc/index/img_kv-1.jpg) center/cover no-repeat;
    }
    50% {
        background: url(https://anime.bang-dream.com/mygo/wordpress/wp-content/themes/mygo_v1/assets/images/pc/index/img_kv-0.jpg) center/cover no-repeat;
    }
    100% {
        background: url(https://anime.bang-dream.com/mygo/wordpress/wp-content/themes/mygo_v1/assets/images/pc/index/img_kv-1.jpg) center/cover no-repeat;
    }
}

/**
背景图片
 */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -50;
    filter: blur(0px); /*背景模糊*/
    transform: scale(1.06);
    animation: changeBackground 10s infinite;
}

#login-page img {
    content: url(https://anime.bang-dream.com/mygo/wordpress/wp-content/themes/mygo_v1/assets/images/common/logo.svg);
    width: 180px;
    object-fit: fill;
}

#login-page h2 {
    display: none;
}

* {
    --el-color-primary: #38b;
}

/**
输入框
 */
.el-input__wrapper {
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid #38b;
}

html.dark .el-input__wrapper {
    background-color: rgba(29, 30, 31, 0.8);
}


.el-input.is-disabled .el-input__wrapper {
    box-shadow: none;
}

/**
输入框 鼠标悬浮,获得焦点
 */
.el-input__wrapper:hover, .el-input__wrapper.is-focus {
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid #0B2636;
}

.el-input, .el-select__wrapper.is-focused, .el-select__wrapper.is-hovering:not(.is-focused) {
    --el-input-focus-border-color: none;
    box-shadow: none;
}

.el-input-number .el-input__wrapper {
    border-bottom: none;
    border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
    box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
}

.el-input-number .el-input__wrapper:hover {
    box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset;
}

.el-input-number .el-input__wrapper:focus {
    box-shadow: 0 0 0 1px var(--el-input-hover-border-color) inset;
}

.el-button {
    border-radius: 0;
}

.el-button:not(.is-disabled) {
    box-shadow: 0 2px 10px rgba(11, 38, 54, .15);
}

.el-button.is-text:not(.is-disabled).is-has-bg {
    background-color: #38b;
}

/**
悬浮时颜色变浅
 */
.el-button.is-text:not(.is-disabled).is-has-bg:hover {
    background-color: rgba(49, 130, 179, 0.8);
}

.el-button.is-text {
    color: white;
}

/**
下拉框
 */
.el-select__wrapper {
    border-radius: 0;
    box-shadow: none;
}

html.dark .el-select__wrapper {
    background-color: rgba(29, 30, 31, 0.8);
}


.el-select {
    border-bottom: solid #38b;
}

.el-dialog {
    border-radius: 0;
}

.el-dialog__header {
    margin-bottom: 12px;
}

.el-dialog__header span {
    background: #38b;
    padding: 9px 80px 10px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%;
    letter-spacing: .06em;
    color: #fff;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -14px;
}

/**
番剧卡片
 */
.el-card {
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(11, 38, 54, .15);
}

h2 {
    color: #fff;
}

/**
开关
 */
.el-switch__core, .el-switch__core .el-switch__action {
    border-radius: 0;
}

/**
标签
 */
.el-tag, .el-tag .el-icon {
    border-radius: 0;
}

