/**
随机背景图片透明主题
 */
body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -50;
    filter: blur(2px); /*背景模糊*/
    transform: scale(1.06);
}

@media (orientation: landscape) {
    body::after {
        background: url(https://api.imlazy.ink/img) center/cover no-repeat;
    }
}

@media (orientation: portrait) {
    body::after {
        background: url(https://api.imlazy.ink/img-phone) center/cover no-repeat;
    }
}


html.dark {
    --el-bg-color: rgba(29, 30, 31, 0.8);
}

/**
卡片
 */
.el-card {
    --el-card-bg-color: rgba(255, 255, 255, 0.8);
}

html.dark .el-card {
    --el-card-bg-color: rgba(29, 30, 31, 0.8);
}

/**
按钮
 */
.el-button.is-text:not(.is-disabled).is-has-bg {
    background-color: rgba(255, 255, 255, 0.8);
}

html.dark .el-button.is-text:not(.is-disabled).is-has-bg {
    background-color: rgba(29, 30, 31, 0.8);
}

/**
输入框
 */
.el-input__wrapper {
    background-color: rgba(255, 255, 255, 0.8);
}

html.dark .el-input__wrapper {
    background-color: rgba(29, 30, 31, 0.8);
}

/**
下拉框
 */
.el-select__wrapper {
    background-color: rgba(255, 255, 255, 0.8);
}

.el-select__placeholder {
    z-index: auto;
}

html.dark .el-select__wrapper {
    background-color: rgba(29, 30, 31, 0.8);
}

/**
弹窗
 */
.el-dialog {
    --el-dialog-bg-color: rgba(255, 255, 255, 0.9);
}

html.dark .el-dialog {
    --el-dialog-bg-color: rgba(29, 30, 31, 0.9);
}

/**
表格
 */
.el-table {
    --el-table-header-bg-color: rgba(255, 255, 255, 0.5);
    --el-table-tr-bg-color: none;
    --el-table-bg-color: none;
    margin-top: 8px;
}

html.dark .el-table {
    --el-table-header-bg-color: rgba(29, 30, 31, 0.5);
}

.el-popover {
    --el-bg-color-overlay: rgba(255, 255, 255, 0.5);
}

html.dark .el-popover {
    --el-bg-color-overlay: rgba(29, 30, 31, 0.5);
}

/**
折叠菜单
 */
.el-collapse {
    --el-collapse-header-bg-color: none;
    --el-collapse-content-bg-color: none;
}