body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -50;
    filter: blur(2px); /*背景模糊*/
    transform: scale(1.06);
}

@media (orientation: landscape) {
    body::after {
        background: url(https://api.imlazy.ink/img) center/cover no-repeat;
    }
}

@media (orientation: portrait) {
    body::after {
        background: url(https://api.imlazy.ink/img-phone) center/cover no-repeat;
    }
}

/**
卡片
 */
.el-card {
    --el-card-bg-color: rgba(255, 255, 255, 0.8);
}

/**
按钮
 */
.el-button.is-text:not(.is-disabled).is-has-bg {
    background-color: rgba(255, 255, 255, 0.8);
}

/**
输入框
 */
.el-input__wrapper {
    background-color: rgba(255, 255, 255, 0.8);
}

/**
下拉框
 */
.el-select__wrapper {
    background-color: rgba(255, 255, 255, 0.8);
}

/**
折叠菜单
 */
.el-collapse {
    --el-collapse-header-bg-color: none;
    --el-collapse-content-bg-color: none;
}

/**
弹窗
 */
.el-dialog {
    --el-dialog-bg-color: rgba(255, 255, 255, 0.9);
}